name: Android CI

on:
  push:
    branches:
      - feature/*
      - develop
      - master
  pull_request:
    branches: [ "develop", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build app
        run: ./gradlew assemble
      - name: Run tests
        run: ./gradlew test
